@import "../../_globalColor";

.skills-main-div {
  width: 100%;
  overflow: hidden;
}

.skills-heading {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.subTitle {
  color: $subTitle;
}

/* Media Query */
@media (max-width: 768px) {
  .skills-heading {
    font-size: 26px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
  }
}
